NEXT_PUBLIC_SITE_URL=https://donations.slickhive.tech
NEXT_PUBLIC_API_URL=https://hive-cms-production.up.railway.app
NEXT_PUBLIC_ANALYTICS_ID=your-analytics-id
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER=@gmail.com
MAIL_PASSWORD=appp code ssss ssss